body {
    --font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
    --font-weight--primary: 400;
    --font-style--primary: normal;
    --font-size: 16px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-style: var(--font-style--primary);
    font-weight: var(--font-weight--primary);
}

a {
    text-decoration: underline;
}