.menu-toggle-btn {
    --menu-btn__size: 2rem;

    background-color: transparent;
    border: none;
    padding-block: .25rem;
    padding-inline: .25rem;

    inline-size: var(--menu-btn__size);
    block-size: var(--menu-btn__size);
    aspect-ratio: 1;
    border-radius: 50%;

    cursor: pointer;
    touch-action: manipulation;
    outline-offset: 5px;
}

@supports (-webkit-tap-highlight-color: transparent) {

    .menu-toggle-btn {
        -webkit-tap-highlight-color: transparent;
    }

}

@media (hover: none) {

    .menu-toggle-btn {
        --menu-btn_size: 38px;
    }
}

.menu-toggle-icon {
    --l-color: hsl(0, 0%, 23%);

    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
}

:host-context(body.theme--dark) .menu-toggle-icon {
    --l-color: hsl(12, 20%, 75%);
}

.line {
    transform-origin: center center;
    stroke: var(--l-color);
}

/* icon animations on closed state */

@supports (
    (scale: 1.15 1) 
) {

    :is(
        .menu-toggle-btn:not(.toggled):hover, 
        .menu-toggle-btn:not(.toggled):focus-visible
    ) .line {

        scale: 1.15 1;
    }
    
}

@supports not (
    (scale: 1.15 1) 
) {

    :is(
        .menu-toggle-btn:not(.toggled):hover, 
        .menu-toggle-btn:not(.toggled):focus-visible
    ) .line {
        
        transform: 
            scale(1.15, 1)
    }

}

/* icon animations on opened state */ 

.toggled .line:nth-child(2) {
    opacity: 0;
}

/* icon animation transitions */

@media (prefers-reduced-motion: no-preference) {

    .line {
        transition: all .25s ease-in-out;
    }

    .line:nth-child(2) {
        transition: opacity .05s linear;
    }

}