<nav aria-label="pagination">
    <ul>
        <li>

            <button
                type="button" 
                aria-label="Previous page"
                [attr.aria-disabled]="currentPage === 1" 
                [disabled]="currentPage === 1" 
                (pointerdown)="onPrevious()"
            >
                Prev
            </button>

        </li>

        <li>

            <button
                type="button" 
                aria-label="Next page"
                [attr.aria-disabled]="currentPage >= totalPagesCount"
                [disabled]="currentPage >= totalPagesCount" 
                (pointerdown)="onNext()"
            >
                Next
            </button>
        </li>
    </ul>
</nav>
