<button
    #toggleThemeBtn 
    type="button" 
    value="auto" 
    class="toggle-theme-btn" 
    title="Toggle dark and light theme" 
    aria-label="auto" 
    aria-live="polite" 
    (pointerup)="toggleTheme($event)"
>
    <svg 
        class="sun-moon-icon" 
        aria-hidden="true" 
        width="24" 
        height="24" 
        viewBox="0 0 24 24"
    >

        <circle 
            class="sun" 
            cx="12" 
            cy="12" 
            r="6" 
            mask="url(#moon-mask)" 
            fill="currentColor" 
        />

        <g 
            class="sun-beams" 
            stroke="currentColor"
        >
            <line x1="12" y1="2.5" x2="12" y2="4.5" />
            <line x1="12" y1="19.5" x2="12" y2="21.5" />
            <line x1="5.22" y1="5.22" x2="6.64" y2="6.64" />
            <line x1="17.36" y1="17.36" x2="18.78" y2="18.78" />
            <line x1="2.5" y1="12" x2="4.5" y2="12" />
            <line x1="19.22" y1="12" x2="21.22" y2="12" />
            <line x1="5.22" y1="18.78" x2="6.64" y2="17.26" />
            <line x1="17.26" y1="6.64" x2="18.78" y2="5.22" />
        </g>

        <mask
            class="moon-mask" 
            id="moon-mask"
        >
            <rect 
                x="0" 
                y="0" 
                width="100%" 
                height="100%" 
                fill="white"
            />

            <circle 
                class="moon"
                cx="24" 
                cy="10" 
                r="6" 
                fill="black" 
            />

        </mask>

    </svg>
</button>