@import url('./assets/styles/typography.css');

:root {    
    --font-family: Poppins;
    --font-weight--primary: 400;
    --font-style--primary: normal;
    --font-size: 16px;
}

body {
    --background-color--primary: #f5f1f0;
    --color--primary: #222;
    --color--active: hsl(220, 90%, 35%);
    --color--secondary: hsl(220, 90%, 56%);
}

.theme--dark,
body.theme--dark {
    --background-color--primary: #1a191e;
    --color--primary: #f5f1f0;
    --color--active: hsl(340, 81%, 35%);
    --color--secondary: hsl(340, 81%, 60%);
}



*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color--primary);
    color: var(--color--primary);

    font-family: var(--font-family);
    font-size: var(--font-size);
    font-style: var(--font-style--primary);
    font-weight: var(--font-weight--primary);
}

a {
    text-decoration: underline;
    color: var(--color--primary);
}

a:active { 
    color: var(--color--active);
}

a:hover {
    color: var(--color--secondary);
}