<ng-container 
    [ngTemplateOutlet]="recipesList" 
    [ngTemplateOutletContext]="{ $implicit: localState$ | async, pageQueryOptions: pageQueryOptions$ | async }"
></ng-container>

<ng-template #recipesList let-localState let-pageQueryOptions="pageQueryOptions">

    <ngx-paginator 
        [pageIndex]="pageQueryOptions?.['page']" 
        [pageSize]="pageQueryOptions?.['size']"
        [length]="localState.recipesCount"  
        [pageSizeOptions]="localState.pageSizeOptions"
        [pageLength]="localState.recipes.length"  
        (page)="onPageChange($event)" 
    ></ngx-paginator>

    <ng-container *ngIf="localState.loading">
        Loading, please wait...
    </ng-container>

    <ng-container *ngIf="!localState.loading">

        <section class="recipes-list" *ngIf="localState.recipes && localState.recipes?.length">

            <article class="recipe-thumb" *ngFor="let recipe of localState.recipes">
                <p>Title: {{recipe.title | uppercase}}</p>
                <p>Author: {{recipe.authorId?.username}}</p>
                <p>Created: {{recipe.createdAt | date}}</p>
            </article>

        </section>

        <ng-container *ngIf="!localState.recipes || !localState.recipes?.length">
            No recipes to display.
        </ng-container>

    </ng-container>

</ng-template>