<ng-container 
    [ngTemplateOutlet]="recipesList" 
    [ngTemplateOutletContext]="{ $implicit: localState$ | async }"
></ng-container>

<ng-template #recipesList let-localState>

    <section>

        <article>
            Page <span>{{localState.pageOptions.pageIndex}}</span> of <span>{{localState.totalPagesCount()}}</span>
        </article>

        <article>
            Results 
            <ng-container *ngIf="localState.recipesCountPerPageFrom() === localState.recipesCountPerPageTo()">
                <span>{{localState.recipesCountPerPageFrom()}}</span> of <span>{{localState.recipesCount}}</span>
            </ng-container>

            <ng-container *ngIf="localState.recipesCountPerPageFrom() !== localState.recipesCountPerPageTo()">
                <span>{{localState.recipesCountPerPageFrom()}}</span> - <span>{{localState.recipesCountPerPageTo()}}</span> of <span>{{localState.recipesCount}}</span>
            </ng-container>
        </article>

    </section>

    <ng-container *ngIf="localState.loading">
        Loading, please wait...
    </ng-container>

    <ng-container *ngIf="!localState.loading">

        <ng-container
            [ngTemplateOutlet]="filterForm" 
            [ngTemplateOutletContext]="{ $implicit: localState }"
        ></ng-container>

        <section class="recipes-list" *ngIf="localState.recipes && localState.recipes?.length">

            <article class="recipe-thumb" *ngFor="let recipe of localState.recipes">
                <p>Title: {{recipe.title | uppercase}}</p>
                <p>Author: {{recipe.authorId?.username}}</p>
                <p>Created: {{recipe.createdAt | date}}</p>
            </article>

        </section>

        <ng-container *ngIf="!localState.recipes || !localState.recipes?.length">
            No recipes to display.
        </ng-container>

    </ng-container>

</ng-template>

<ng-template #filterForm let-localState>

    <form class="filter-form form" ngForm>

        <ngx-paginator 
            [current]="localState.pageOptions.pageIndex"
            [total]="localState.totalPagesCount()"
            (previous)="togglePreviousPage($event, localState.pageOptions.pageEntriesLimit, localState.pageOptions.pageQueryFilter)" 
            (goTo)="toggleClickedPage($event, localState.pageOptions.pageEntriesLimit, localState.pageOptions.pageQueryFilter)"
            (next)="toggleNextPage($event, localState.pageOptions.pageEntriesLimit, localState.pageOptions.pageQueryFilter, localState.totalPagesCount())"
        ></ngx-paginator>

        <section class="select-row form-row">

            <select 
                (change)="limitSelectChangeHandler(limitSelectControl.control.value, localState)" 
                #limitSelectControl="ngModel"
                [ngModel]="localState.pageOptions.pageEntriesLimit"
                class="filter-form-limit-select form-input" 
                id="limit" 
                name="limit"
            >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>

        </section>

        <section class="form-row">

            <input 
                (input)="titleInputChangeHandler(titleInputControl.control.value, localState)"
                #titleInputControl="ngModel"
                [ngModel]="localState.pageOptions.pageQueryFilter?.title ?? ''"
                class="filter-form-title-input form-input"  type="text" name="title"
                placeholder="Filter results by title..." 
            />

        </section>

    </form>

</ng-template>