.recipes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    margin-block: 3em;
}

.recipe-thumb {
    padding: .5em .25em;
    flex-basis: 30%;
}

.page-toggle-controls {
    display: flex;
    justify-content: space-between;

    inline-size: 100%;
}

.pagination-button {
    background-color: transparent;
    color: currentColor;
    
    border: none;
    outline: none;

    font-size: 1.15em;

    cursor: pointer;
}

.disabled {
    /* pointer-events: none; */
    opacity: 0.7;
    cursor: not-allowed;
}

.filter-form-title-input {
    background-color: transparent;
    color: currentColor;
    
    padding-block: 1.15em;
    padding-inline: 1em;

    border-color: currentColor;

    outline: none;
}

.filter-form-title-input::placeholder {
    opacity: 1;
    color: currentColor;
}

.select-row {
    align-self: flex-start;
}

.filter-form-limit-select {
    border-color: currentColor;
}

@media screen and (max-width: 480px) {

    .recipes-list {
        flex-direction: column;
    }

    .recipe-thumb {
        flex-basis: 100%;
    }

}