<ng-container 
    [ngTemplateOutlet]="recipesList" 
    [ngTemplateOutletContext]="{ $implicit: localState$ | async, pageOptionsData: pageQueryParams$ | async }"
></ng-container>

<ng-template #recipesList let-localState let-pageOptionsData="pageOptionsData">

    <ngx-paginator 
        [pageIndex]="pageOptionsData?.['page']"
        [length]="localState.recipesCount" 
        [pageSize]="pageOptionsData?.['limit']" 
        [pageSizeOptions]="[1, 3, 5, 10, 15]"
        [pageLength]="localState.recipes.length" 
        (page)="log($event)"
    ></ngx-paginator>

    <ng-container *ngIf="localState.loading">
        Loading, please wait...
    </ng-container>

    <ng-container *ngIf="!localState.loading">

        <section class="recipes-list" *ngIf="localState.recipes && localState.recipes?.length">

            <article class="recipe-thumb" *ngFor="let recipe of localState.recipes">
                <p>Title: {{recipe.title | uppercase}}</p>
                <p>Author: {{recipe.authorId?.username}}</p>
                <p>Created: {{recipe.createdAt | date}}</p>
            </article>

        </section>

        <ng-container *ngIf="!localState.recipes || !localState.recipes?.length">
            No recipes to display.
        </ng-container>

    </ng-container>

</ng-template>