<ng-container *ngIf="(localState$ | async) as headerInitState">

    <header [class.fullscreen]="headerInitState.expandHeader" (pointerdown)="onHeaderAreaClick($event, headerInitState.expandHeader)">
    
        <app-menu-toggle-button 
            [force-close]="headerInitState.forceClose"
            *ngIf="headerInitState.showToggleBtn"
            (on-toggle)="onMenuButtonToggle($event)"
        ></app-menu-toggle-button>
    
        <nav 
            class="nav--primary" 
            *ngIf="headerInitState.toggleNavigation" 
        >
    
            <a class="nav-link" routerLink="/home">Home</a>
            <a class="nav-link" routerLink="/recipes">Recipes</a>
            
            <section class="nav-auth-section">
    
                <ng-container>
                    <a class="nav-link" routerLink="/users/login">Log In</a>
                    <a class="nav-link button" routerLink="/users/register">Sign up</a>
                </ng-container>
        
            </section>
        </nav>
    
        <app-dark-mode-switch></app-dark-mode-switch>
    
    </header>

</ng-container>