:host {
    --font-size: .92rem;
    --font-weight: 400;
    --color: currentColor;

    --color--hover: hsl(0, 0%, 65%);
    --auth-section-delim__color: hsl(0, 0%, 80%);
    --signup__border-color: hsl(0, 0%, 30%);
    --signup__border-color--hover: hsl(0, 0%, 65%);
}

:host-context(body.theme--dark) {
    --color--hover: hsl(0, 0%, 55%);
    --auth-section-delim__color: hsl(0, 0%, 20%);
    --signup__border-color: hsl(0, 0%, 20%);
    --signup__border-color--hover: hsl(0, 0%, 40%);
}

header {
    --header__padding-block: 1.5rem;
    --header__padding_inline: 1rem;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-block: var(--header__padding-block);
    padding-inline: var(--header__padding_inline);

    background-color: var(--background-color);
}

header:has(> .menu-toggle-btn[value="opened"]) {
    height: 100vh;
    width: 100vw;

    position: fixed;

    flex-direction: column;
    justify-content: flex-start;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    flex-basis: 50%;
}

.menu-toggle-btn[value="closed"] ~ nav {
    display: none;
}

nav a {
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    color: var(--color);
    text-decoration: none;
    line-height: 1.5;
    padding-block: .25rem;
    padding-inline: .35rem;
}

nav a:not(.button):hover {
    color: var(--color--hover);
}

nav .auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    border-left: 1px solid var(--auth-section-delim__color);
    padding-inline-start: 1rem;
}

.menu-toggle-btn[value="opened"] ~ nav,
.menu-toggle-btn[value="opened"] ~ nav .auth {
    flex-direction: column;
}

.menu-toggle-btn[value="opened"] ~ nav .auth {
    border-left: none;
    padding-inline-start: 0;
}

a.button,
.button {
    border: 1px solid var(--signup__border-color);
    border-radius: 3px;
}

a.button:hover,
.button:hover {
    border-color: var(--signup__border-color--hover);
}
