<ng-container 
    [ngTemplateOutlet]="header" 
    [ngTemplateOutletContext]="{ $implicit: localState$ | async }"
></ng-container>

<ng-template #header let-localState>
    <!-- {{localState | json }} -->
    <header 
        [class.fullscreen]="localState.showNavigation" 
        (pointerup)="onHeaderAreaClick($event, localState.showNavigation)"
    >
        
        <app-menu-toggle-button 
            *ngIf="localState.showMenuButton"
        ></app-menu-toggle-button>
    
        <nav 
            class="nav--primary" 
            *ngIf="localState.showNavigation" 
        >
    
            <a class="nav-link" routerLink="/home">Home</a>
            <a class="nav-link" routerLink="/recipes">Recipes</a>
            
            <section class="nav-auth-section">
    
                <ng-container>
                    <a class="nav-link" routerLink="/users/login">Log In</a>
                    <a class="nav-link button" routerLink="/users/register">Sign up</a>
                </ng-container>
        
            </section>
        </nav>
    
        <app-dark-mode-switch></app-dark-mode-switch>
    
    </header>

</ng-template>