:host {
    --header-logo__font-size: 1.5rem;

    --header-link__font-size: 1.3rem;
}

header {
    display: flex;
    justify-content: space-between;

    padding-block: 1rem;
    padding-inline: 1.5rem;

    
}

nav {
    display: flex;
    justify-content: space-between;

    flex-basis: 25%;
}

nav a {
    font-size: var(--header-link__font-size);
}

.active {
    color: #bf32a4;
}

.logo {
    font-size: var(--header-logo__font-size);
}