<section class="login-section">

    <header class="login-section-header">
        <h2>Sign in to your profile</h2>
    </header>

    <form class="login-form">
    
        <section class="login-form-field">
            <label class="login-form-label" for="username">Username</label>
            <input class="login-form-input" type="text" name="username" id="username" placeholder="Username" />
        </section>
    
        <section class="login-form-field">
            <label class="login-form-label" for="password">Password</label>
            <input class="login-form-input" type="password" name="password" id="password" placeholder="Password" />
        </section>
    
        <button class="login-form-submit-btn" type="submit">Login</button>

    </form>

    <footer class="login-section-footer">
        <p class="login-section-footer-content">
            Don't have an account? <a [routerLink]="[ '/users', 'register' ]">Sign up.</a>
        </p>
    </footer>

</section>