:host {
    --inline-size: 4rem;
    --fill: hsl(325, 57%, 46%);
    --font-size: var(--inline-size);
}

:host-context(.theme--dark) {
    --fill: hsl(325, 37%, 46%);
}

.logo {
    inline-size: var(--inline-size);
}

.logo-circle {
    fill: var(--fill);
}

.logo-text {
    display: block;

    font-size: var(--font-size);
    text-align: center;
}