:host {
    --inline-size: 50vw;
    --margin-block: 5rem 0;
    --margin-inline: auto;
}

:host-context(.maxwidth--780) {
    --inline-size: 100vw;
}

.content{
    inline-size: var(--inline-size);
    margin-block: var(--margin-block);
    margin-inline: var(--margin-inline);
}