<ng-container 
    [ngTemplateOutlet]="header" 
    [ngTemplateOutletContext]="{ 
        $implicit: localState$ | async, 
        currentUser: currentUser$ | async, 
        isLoggedIn: isLoggedIn$ | async
    }"
></ng-container>

<ng-template #header let-localState let-currentUser="currentUser" let-isLoggedIn="isLoggedIn" let-signingOut="signingOut">
    <!-- {{localState | json}} -->
    <!-- {{currentUser | json}} -->
    <header 
        #headerEl
        class="header" 
        [class.fullscreen]="localState.showNavigation" 
    >

        <app-menu-toggle-button 
            class="menu-toggle-btn"
            *ngIf="localState.showMenuButton"
        ></app-menu-toggle-button>
    
        <nav 
            class="nav--primary" 
            [class.toggle]="localState.showMenuButton && localState.showNavigation"
        >
    
            <a class="nav-link" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/home">Home</a>
            <a class="nav-link" [class.active]="isLinkActive('/recipes')" [attr.aria-current]="isLinkActive('/recipes') && 'page'" routerLink="/recipes" [queryParams]="{ page: 1, limit: 10 }">Recipes</a>
            <a class="nav-link" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLink]="['/recipes', 'add']">Add Recipe</a>
            
            <section class="nav-auth-section">
    
                <ng-container *ngIf="!isLoggedIn">
                    <a class="nav-link" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/users/login">Login</a>
                    <a class="nav-link" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/users/register">Signup</a>
                </ng-container>

                <ng-container *ngIf="isLoggedIn">
                    <a class="nav-link" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLink]="['/users', 'profile', currentUser._id]">Profile</a>
                    <app-logout-btn class="nav-link" aria-current="false"></app-logout-btn>
                </ng-container>
        
            </section>
        </nav>
    
        <app-dark-mode-switch 
            class="theme-switch"
        ></app-dark-mode-switch>
    
    </header>

</ng-template>