:host {
    --file-upload-hint__color: #444;

    --file-upload-button__bg-color: hsl(120, 100%, 30%);
    --file-upload-button__bg-color--hover: hsl(120, 100%, 28%);
    --file-upload-button__color: #222;

    --selected-file__color: #444;
}

:host-context(.theme--dark) {
    --file-upload-hint__color: #aaa;

    --file-upload-button__bg-color: hsl(120, 100%, 20%);
    --file-upload-button__bg-color--hover: hsl(120, 100%, 18%);
    --file-upload-button__color: #ccc;

    --selected-file__color: #aaa;
}

#file-upload-input {
    display: none;
}

.file-upload-ui-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    inline-size: 100%;
}

.file-upload-label {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    font-size: 1rem;
}

.file-upload-hint {
    font-size: .9em;
    font-style: italic;
    color: var(--file-upload-hint__color);
}

.file-upload-select {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: .5rem;

    padding-inline: .85em;
    padding-block: .65em;

    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;

    border-width: .1em;
    border-style: dashed;
    border-color: currentColor;
}

.file-upload-button {
    padding-block: .25rem;
    padding-inline: .5rem;

    background-color: var(--file-upload-button__bg-color);
    color: var(--file-upload-button__color);
    font-size: .9em;

    border: .1em solid var(--file-upload-button__color);
    outline: none;

    cursor: pointer;
}

.file-upload-button:hover {
    background-color: var(--file-upload-button__bg-color--hover);
}

.selected-file {
    font-size: .85em;
    color: var(--selected-file__color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}