.toggle-theme-btn {
    --toggle-theme-btn__size: 2rem;
    --icon__fill: #eee;
    --icon__fill--hover: #aaa;

    background-color: transparent;
    border: none;
    padding: 0;

    inline-size: var(--toggle-theme-btn__size);
    block-size: var(--toggle-theme-btn__size);
    aspect-ratio: 1;
    border-radius: 50%;

    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px;

    @media (hover: none) {
        --toggle-theme-btn__size: 48px;
    }
}

.toggle-theme-btn > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
}

.sun-moon-icon > :is(.sun, .moon, .sun-beams) {
    transform-origin: center center;
}


.sun-moon-icon > :is(.moon, .sun) {
    fill: var(--icon__fill);
}

.sun-moon-icon > :is(.sun-beams) {
    stroke: var(--icon__fill);
}

.toggle-theme-btn:is(:hover, :focus-visible) :is(.sun, .moon) {
    fill: var(--icon__fill--hover);
}

.toggle-theme-btn:is(:hover, :focus-visible) :is(.sun-beams) {
    fill: var(--icon__fill--hover);
}