:host {
    --toggle-switch__bg-color: hsl(220, 5%, 65%);
    --toggle-switch__bg-color--checked: hsl(340, 81%, 60%);
    --toggle-switch__fg-color: #fff;
}

form > section {
    position: relative;
}

input[type="checkbox"] {
    visibility: collapse;
}

input[type="checkbox"] + label::before {
    content: '';

    position: absolute;
    left: -50%;

    width: 50%;
    height: 100%;

    background-color: var(--toggle-switch__bg-color);
    outline: 2px solid var(--toggle-switch__bg-color);

    border-radius: 25%/50%;

    transition: color .3s ease-in-out;
}

input[type="checkbox"]:checked + label::before {
    background-color: var(--toggle-switch__bg-color--checked);
    outline-color: var(--toggle-switch__bg-color--checked);
}

input[type="checkbox"] + label::after {
    content: '';

    position: absolute;
    top: 0;
    left: -50%;

    width: 23%;
    height: 100%;

    background-color: var(--toggle-switch__fg-color);
    border-radius: 50%;

    transition: left .1s ease-in-out;
}

input[type="checkbox"]:checked + label::after {
    left: -22%;
}