.toggle-theme-btn {
    --toggle-theme-btn__size: 2rem;

    background-color: transparent;
    border: none;
    padding: 0;

    inline-size: var(--toggle-theme-btn__size);
    block-size: var(--toggle-theme-btn__size);
    aspect-ratio: 1;
    border-radius: 50%;

    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px;

    @media (hover: none) {
        --toggle-theme-btn__size: 48px;
    }
}

.toggle-theme-btn > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
}