.recipes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.recipe-thumb {
    padding: .5em .25em;
    flex-basis: 30%;
}

.filter-form-title-input {
    background-color: transparent;
    color: currentColor;
    
    padding: .5em;

    border-radius: 3px;

    border-color: currentColor;
    border-style: solid;
    border-width: .1em;

    outline: none;
}

@media screen and (max-width: 480px) {

    .recipes-list {
        flex-direction: column;
    }

    .recipe-thumb {
        flex-basis: 100%;
    }

}