<ng-container
    [ngTemplateOutlet]="profileDetails"
    [ngTemplateOutletContext]="{ $implicit: localState$ | async }"
></ng-container>

<ng-template #profileDetails let-localState>
    <!-- {{localState.inEditMode}} -->
    <ng-container 
        *ngIf="!localState.inEditMode"
        [ngTemplateOutlet]="profilePreview" 
        [ngTemplateOutletContext]="{ $implicit: localState }"
    ></ng-container>

    <ng-container
        *ngIf="localState.inEditMode" 
        [ngTemplateOutlet]="editProfile" 
        [ngTemplateOutletContext]="{ $implicit: localState }"
    ></ng-container>

</ng-template>

<ng-template #profilePreview let-localState>
    <section *ngIf="localState.processing">
        Loading profile...
    </section>

    <section *ngIf="!localState.processing && localState.currentUser">

        <img 
            [src]="localState.currentUser.imageUrl"  
            width="200" 
            height="200" 
            alt="Profile picture" 
            loading="lazy"
        />

        <p>{{localState.currentUser.username}}</p>
        <p>{{localState.currentUser.email}}</p>

        <button type="button" (pointerdown)="toggleEditMode()">Edit</button>

    </section>

    <section *ngIf="!localState.loading && localState.error">
        <p>Error: {{localState.message}}</p>
    </section>
</ng-template>

<ng-template #editProfile let-localState>

    <section class="form-container">
        <!-- {{localState | json}} -->
        <header class="form-container-header">
            <h2>Edit profile info</h2>
        </header>
    
        <section 
            *ngIf="hasEmptyFields(editProfileForm)"
            class="form-status-message"
        >
            Please fill in all the fields below!
        </section>

        <section 
            *ngIf="localState.error"
            class="form-status-message"
        >

            {{localState.message}}

        </section>

        <form 
            #editProfileForm="ngForm" 
            (ngSubmit)="submitHandler(editProfileForm)"
            class="form"
        >
    
            <section class="form-row">
    
                <label 
                    class="form-input-label" 
                    for="email"
                >
                    Email
                </label>
    
                <input 
                    ngModel 
                    required 
                    email 
                    duplicateCredentialsCheck
                    #emailControl="ngModel" 
                    class="form-input"
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="Email" 
                    aria-required="true"
                />
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg"
                    [ngTemplateOutletContext]="{ $implicit: 'Email is required' }"
                    *ngIf="emailControl.touched && emailControl.errors?.['required']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg"
                    [ngTemplateOutletContext]="{ $implicit: 'Invalid email' }"
                    *ngIf="emailControl.touched && emailControl.errors?.['email']"
                ></ng-container>

                <ng-container
                    [ngTemplateOutlet]="formInputErrorMsg",
                    [ngTemplateOutletContext]="{ $implicit: 'Email is already taken'}"
                    *ngIf="emailControl.touched && emailControl.errors?.['duplicate']"
                ></ng-container>
    
            </section>
        
            <section class="form-row">
    
                <label 
                    class="form-input-label" 
                    for="username"
                >
                    Username
                </label>
    
                <input 
                    ngModel 
                    required 
                    minlength="4" 
                    customMaxlength="30" 
                    duplicateCredentialsCheck 
                    pattern="(?=[A-Za-z]+)^[A-Za-z0-9]+$" 
                    #usernameControl="ngModel" 
                    class="form-input" 
                    type="text" 
                    name="username" 
                    id="username" 
                    placeholder="Username" 
                    aria-required="true" 
                />
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Username is required' }"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['required']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Username should be at least 4 characters long' }"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['minlength']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Username should be no more than 30 characters long' }"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['maxlength']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Username should start with a letter and contain letters and digits only' }"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['pattern']"
                ></ng-container>

                <ng-container
                    [ngTemplateOutlet]="formInputErrorMsg",
                    [ngTemplateOutletContext]="{ $implicit: 'Username is already taken'}"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['duplicate']"
                ></ng-container>
    
            </section>
    
            <section>
                
                <app-file-upload 
                    ngModel 
                    [maxsize]="5" 
                    #fileUploadControl="ngModel"
                    name="profilePicture"
                    label="Choose profile picture" 
                    accept=".jpeg, .jpg, .png, .svg"
                ></app-file-upload>

                <ng-container
                    [ngTemplateOutlet]="formInputErrorMsg"
                    [ngTemplateOutletContext]="{ $implicit: 'File upload is required'}"
                    *ngIf="fileUploadControl.touched && fileUploadControl.errors?.['required']"
                ></ng-container>

                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg"
                    [ngTemplateOutletContext]="{ $implicit: 'File is bigger than 5MB' }"
                    *ngIf="fileUploadControl.touched && fileUploadControl.errors?.['maxsize']"
                ></ng-container>
                <!-- {{fileUploadControl.errors | json}} -->
            </section>
        
            <button 
                [disabled]="editProfileForm.invalid || localState.processing"
                class="form-submit-btn" 
                type="submit"
            >
                {{localState.processing ? 'Processing...' : 'Save changes'}}
            </button>

            <button 
                class="form-cancel-button"
                [disabled]="localState.processing"
                type="button" 
                (pointerdown)="toggleEditMode()"
            >
                {{localState.processing ? 'Processing...' : 'Cancel'}}
            </button>
    
        </form>
    
    </section>

</ng-template>

<ng-template #formInputErrorMsg let-errorTxt>
    <section class="form-input-error">
        {{errorTxt}}
    </section>
</ng-template>