:host {
    --profile-picture-container__border-color: hsl(0, 0%, 7%);

    --profile-edit-btn__margin-block: .5rem 0;
    --profile-edit-btn__padding-block: .5rem;
    --profile-edit-btn__padding-inline: .25rem;
    --profile-edit-btn__bg-color: hsl(210, 29%, 97%);
    --profile-edit-btn__border-color: hsl(0, 0%, 7%);
    --profile-edit-btn__border-style: solid;
    --profile-edit-btn__border-width: .1rem;
    --profile-edit-btn__cursor: pointer; 

    --form-cancel-btn__margin-block: .5rem 0;
    --form-cancel-btn__padding-block: .5rem;
    --form-cancel-btn__padding-inline: .25rem;
    --form-cencel-btn__bg-color: hsl(210, 29%, 97%);
    --form-cancel-btn__border-color: hsl(0, 0%, 7%);
    --form-cancel-btn__border-style: solid;
    --form-cancel-btn__border-width: .1rem;
    --form-cancel-btn__cursor: pointer;
}

:host-context(.theme--dark) {
    --profile-picture-container__border-color: hsl(210, 29%, 97%);

    --profile-edit-btn__bg-color: hsl(218, 80%, 2%);
    --profile-edit-btn__border-color: hsl(210, 29%, 97%);

    --form-cancel-btn__bg-color: hsl(218, 80%, 2%);
    --form-cancel-btn__border-color: hsl(210, 29%, 97%);
}

.profile-preview {
    inline-size: 100%;
}

.profile-picture-container {
    inline-size: 200px;
    block-size: 200px;

    margin-inline-end: auto;
    margin-block: .5em 3em;

    border-radius: 50%;

    border-color: var(--profile-picture-container__border-color);
    border-style: solid;
    border-width: 2px;

    overflow: hidden;
}

.profile-picture {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
}

.text-row {
    inline-size: 50%;

    margin-block: .25em;
    margin-inline-end: auto;

    padding-block: .5em;
    padding-inline: .5rem;

    text-align: left;

    font-size: 1.2em;
}

.profile-edit-button {
    display: block;

    margin-block: var(--profile-edit-btn__margin-block);
    margin-inline-end: auto;

    padding-block: var(--profile-edit-btn__padding-block);
    padding-inline: var(--profile-edit-btn__padding-inline);

    inline-size: 50%;

    text-align: center;

    color: currentColor;
    background-color: var(--profile-edit-btn__bg-color);
    border-color: var(--profile-edit-btn__border-color);
    border-style: var(--profile-edit-btn__border-style);
    border-width: var(--profile-edit-btn__border-width);
    outline: none;

    cursor: var(--profile-edit-btn__cursor);
}

.form-cancel-button {
    margin-block: var(--form-cancel-btn__margin-block);

    padding-block: var(--form-cancel-btn__padding-block);
    padding-inline: var(--form-cancel-btn__padding-inline);

    text-align: center;

    color: currentColor;
    background-color: var(--form-cancel-btn__bg-color);
    border-color: var(--form-cancel-btn__border-color);
    border-style: var(--form-cancel-btn__border-style);
    border-width: var(--form-cancel-btn__border-width);
    outline: none;

    cursor: var(--form-cancel-btn__cursor);
}