@supports (scale: .85) {

    @keyframes toggle-dark-mode {
        0% {
            scale: .85;
        }
        50% {
            scale: 1.3;
        }
        100% {
            scale: 1.10;
        }
    }
    
    @keyframes toggle-light-mode {
        0% {
            scale: 1.15;
        }
        50% {
            scale: .65;
        }
        100% {
            scale: .85;
        }
    }

}

@supports not (scale: .85) {

    @keyframes toggle-dark-mode {
        0% {
            transform: scale(.85);
        }
        50% {
            transform: scale(1.3);
        }
        100% {
            transform: scale(1.10);
        }
    }
    
    @keyframes toggle-light-mode {
        0% {
            transform: scale(1.15);
        }
        50% {
            transform: scale(.65);;
        }
        100% {
            transform: scale(.85);
        }
    }

}

.toggle-theme-btn {
    --toggle-theme-icon__size: clamp(1.9rem, 1vw, 2.5rem);
    --icon__fill: hsl(0, 0%, 23%);
    --icon__fill--hover: hsl(0, 0%, 13%);

    --toggle-theme-btn__block-size: calc(1.15 * var(--toggle-theme-icon__size));
    --toggle-theme-btn__inline-size: calc(4.5 * var(--toggle-theme-icon__size));
    --toggle-theme-btn-txt__font-size: clamp(.85rem, 3.3vw, 1rem);
    --toggle-theme-btn__border-width: .1rem;
    --toggle-theme-btn__border-style: solid;
    --toggle-theme-btn__border-color: hsl(0, 0%, 35%);
    --toggle-theme-btn__color: var(--toggle-theme-btn__border-color);
}

.toggle-theme-btn:hover,
.toggle-theme-btn:focus-visible {
    --toggle-theme-btn__border-color: hsl(0, 0%, 13%);
    --toggle-theme-btn__color: var(--toggle-theme-btn__border-color);
}

:host-context(.theme--dark) .toggle-theme-btn  {
    --icon__fill: hsl(12, 20%, 75%);
    --icon__fill--hover: hsl(12, 20%, 95%);

    --toggle-theme-btn__border-color: hsl(12, 20%, 75%);
    --toggle-theme-btn__color: var(--toggle-theme-btn__border-color);
}

:host-context(.theme--dark) .toggle-theme-btn:hover, 
:host-context(.theme--dark) .toggle-theme-btn:focus-visible {
    --toggle-theme-btn__border-color: hsl(12, 20%, 95%);
    --toggle-theme-btn__color: var(--toggle-theme-btn__border-color);
}

@media (hover: none) {

    .toggle-theme-btn {
        --toggle-theme-icon__size: clamp(2rem, 1vw, 35px);

        --toggle-theme-btn__block-size: calc(1.15 * var(--toggle-theme-icon__size));
        --toggle-theme-btn__inline-size: calc(4.5 * var(--toggle-theme-icon__size));
    }

}

.toggle-theme-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .25rem .25rem .35rem .75rem;

    font-size: var(--toggle-theme-btn-txt__font-size);

    color: var(--toggle-theme-btn__color);
    background-color: transparent;
    border-color: var(--toggle-theme-btn__border-color);
    border-width: var(--toggle-theme-btn__border-width);
    border-style: var(--toggle-theme-btn__border-style);

    inline-size: var(--toggle-theme-btn__inline-size);
    block-size: var(--toggle-theme-btn__block-size);
    aspect-ratio: 1;
    border-radius: 12% / 45%;

    cursor: pointer;
    touch-action: manipulation;
    outline-offset: 5px;
}

@supports (-webkit-tap-highlight-color: transparent) {

    .toggle-theme-btn {
        -webkit-tap-highlight-color: transparent;
    }

}

.sun-moon-icon {
    inline-size: min(100%, var(--toggle-theme-icon__size));
    block-size: min(100%, var(--toggle-theme-icon__size));
    stroke-linecap: round;
}

:is(.sun, .moon, .sun-beams) {
    transform-origin: center center;
}

:is(.moon-mask, .sun) {
    fill: var(--icon__fill);
}

.toggle-theme-btn:is(:hover, :focus-visible) :is(.sun, .moon-mask) {
    fill: var(--icon__fill--hover);
}

.sun-beams {
    stroke: var(--icon__fill);
}

.toggle-theme-btn:is(:hover, :focus-visible) .sun-beams {
    fill: var(--icon__fill--hover);
}

@supports (scale: 1.15) {

    .sun {
        /* scale: .85; */
        animation-name: toggle-light-mode;
        animation-fill-mode: both;
    }

    :host-context(body.theme--dark) .sun {
        /* scale: 1.15; */
        animation-name: toggle-dark-mode;
        animation-fill-mode: both;
    }

}

@supports not (scale: 1.15) {

    .sun {
        /* transform: scale(.85); */
        animation-name: toggle-light-mode;
        animation-fill-mode: both;
    }

    :host-context(body.theme--dark) .sun {
        /* transform: scale(1.15); */
        animation-name: toggle-dark-mode;
        animation-fill-mode: both;
    }

}

:host-context(body.theme--dark) .sun-beams {
    opacity: 0;
}

@supports (rotate: z -35deg) {

    :host-context(body.theme--dark) .sun-beams {
        rotate: z -35deg;
    }
    
}

@supports not (rotate: z -35deg) {

    :host-context(body.theme--dark) .sun-beams {
        transform: rotateZ(-35deg);
    }
    
}

@supports (translate: -7px) {

    :host-context(body.theme--dark) .moon {
        translate: -7px;
    }

}

@supports not (translate: -7px) {

    :host-context(body.theme--dark) .moon {
        transform: translateX(-7px);
    }

}

@media (prefers-reduced-motion: no-preference) {

    .sun {
        animation-duration: .5s;
        animation-timing-function: cubic-bezier(.5,1.25,.75,1.25);
        transition: 
            /* scale .5s cubic-bezier(.5,1.25,.75,1.25),
            transform .5s cubic-bezier(.5,1.25,.75,1.25) */
            fill .1s ease-in-out;
    }

    :host-context(body.theme--dark) .sun {
        animation-duration: .5s;
        animation-timing-function: cubic-bezier(.25,0,.3,1);
        transition-duration: .1s;
        transition-timing-function: cubic-bezier(.25,0,.3,1);
    }

    .sun-beams {
        transition: 
            rotate .95s cubic-bezier(.5,1.5,.75,1.25),
            transform .95s cubic-bezier(.5,1.5,.75,1.25),
            opacity .5s cubic-bezier(.25,0,.3,1);
    }

    :host-context(body.theme--dark) .sun-beams {
        transition-duration: .1s;
    }

    .moon {
        transition:
            translate .35s cubic-bezier(.9,0,.1,1),
            transform .35s cubic-bezier(.9,0,.1,1);
    }

    :host-context(body.theme--dark) .moon {
        transition-delay: 0;
        transition-duration: .55s;
    }

}