<ng-container
    [ngTemplateOutlet]="signInSection" 
    [ngTemplateOutletContext]="{ $implicit: localState$ | async }"
></ng-container>

<ng-template #signInSection let-localState>
    <!-- {{localState | json}} -->
    <section class="form-container">

        <header class="form-container-header">
            <h2>Sign in to your profile</h2>
        </header>
    
        <section 
            *ngIf="loginForm.form.invalid"
            class="form-status-message"
        >
    
            Please fill in all the fields below!
    
        </section>

        <section 
            *ngIf="localState.error"
            class="form-status-message"
        >

            {{localState.message}}

        </section>
    
        <form 
            #loginForm="ngForm" 
            (ngSubmit)="submitHandler(loginForm)"
            class="form"
        >
        
            <section class="form-row">
    
                <label 
                    class="form-input-label" 
                    for="username"
                >
    
                    Username
    
                </label>
    
                <input 
                    ngModel 
                    required 
                    #usernameControl="ngModel" 
                    class="form-input" 
                    [class.ng-valid]="usernameControl.valid && !localState.error" 
                    [class.ng-invalid]="usernameControl.invalid || localState.error"
                    type="text" 
                    name="username" 
                    id="username" 
                    placeholder="Username" 
                    aria-required="true" 
                />
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Username is required' }"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['required']"
                ></ng-container>
    
            </section>
        
            <section class="form-row">
    
                <label 
                    class="form-input-label" 
                    for="password"
                >
    
                    Password
    
                </label>
    
                <input 
                    ngModel 
                    required 
                    #passwordControl="ngModel" 
                    class="form-input" 
                    [class.ng-valid]="passwordControl.valid && !localState.error" 
                    [class.ng-invalid]="passwordControl.invalid || localState.error"
                    type="password" 
                    name="password" 
                    id="password" 
                    placeholder="Password" 
                    aria-required="true" 
                />
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Password is required' }"
                    *ngIf="passwordControl.touched && passwordControl.errors?.['required']"
                ></ng-container>
    
            </section>
        
            <button 
                [disabled]="loginForm.invalid || localState.processing"
                class="form-submit-btn" 
                type="submit"
            >
                {{localState.processing ? 'Processing...' : 'Login'}}
            </button>
    
        </form>
    
        <footer class="form-container-footer">
            <p class="form-container-footer-content">
                Don't have an account? <a [routerLink]="[ '/users', 'register' ]">Sign up.</a>
            </p>
        </footer>
    
    </section>

</ng-template>

<ng-template #formInputErrorMsg let-errorTxt>
    <section class="form-input-error">
        {{errorTxt}}
    </section>
</ng-template>