<ng-container
    [ngTemplateOutlet]="signUpSection" 
    [ngTemplateOutletContext]="{ $implicit: localState$ | async }"
></ng-container>

<ng-template #signUpSection let-localState>

    <section class="form-container">
        <!-- {{localState | json}} -->
        <header class="form-container-header">
            <h2>Create an account</h2>
        </header>
    
        <section 
            *ngIf="hasEmptyFields(registerForm)"
            class="form-status-message"
        >
            Please fill in all the fields below!
        </section>

        <section 
            *ngIf="localState.message"
            class="form-status-message"
        >

            {{localState.message}}

        </section>

        <form 
            #registerForm="ngForm" 
            (ngSubmit)="submitHandler(registerForm)"
            class="form"
        >
    
            <section class="form-row">
    
                <label 
                    class="form-input-label" 
                    for="email"
                >
                    Email
                </label>
    
                <input 
                    ngModel 
                    required 
                    email 
                    duplicateCredentialsCheck
                    #emailControl="ngModel" 
                    class="form-input"
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="Email" 
                    aria-required="true"
                />
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg"
                    [ngTemplateOutletContext]="{ $implicit: 'Email is required' }"
                    *ngIf="emailControl.touched && emailControl.errors?.['required']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg"
                    [ngTemplateOutletContext]="{ $implicit: 'Invalid email' }"
                    *ngIf="emailControl.touched && emailControl.errors?.['email']"
                ></ng-container>

                <ng-container
                    [ngTemplateOutlet]="formInputErrorMsg",
                    [ngTemplateOutletContext]="{ $implicit: 'Email is already taken'}"
                    *ngIf="emailControl.touched && emailControl.errors?.['duplicateEmail']"
                ></ng-container>
    
            </section>
        
            <section class="form-row">
    
                <label 
                    class="form-input-label" 
                    for="username"
                >
                    Username
                </label>
    
                <input 
                    ngModel 
                    required 
                    minlength="4" 
                    customMaxlength="30" 
                    duplicateCredentialsCheck 
                    pattern="(?=[A-Za-z]+)^[A-Za-z0-9]+$" 
                    #usernameControl="ngModel" 
                    class="form-input" 
                    type="text" 
                    name="username" 
                    id="username" 
                    placeholder="Username" 
                    aria-required="true" 
                />
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Username is required' }"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['required']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Username should be at least 4 characters long' }"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['minlength']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Username should be no more than 30 characters long' }"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['maxlength']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Username should start with a letter and contain letters and digits only' }"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['pattern']"
                ></ng-container>

                <ng-container
                    [ngTemplateOutlet]="formInputErrorMsg",
                    [ngTemplateOutletContext]="{ $implicit: 'Username is already taken'}"
                    *ngIf="usernameControl.touched && usernameControl.errors?.['duplicateEmail']"
                ></ng-container>
    
            </section>
    
            <section>

                <app-file-upload 
                    [ngModel]="null" 
                    [maxsize]="0.2" 
                    required
                    #fileUploadControl="ngModel"
                    name="profilePicture"
                    label="Choose profile picture" 
                    accept=".jpeg, .jpg, .png, .svg"
                ></app-file-upload>

                <ng-container
                    [ngTemplateOutlet]="formInputErrorMsg"
                    [ngTemplateOutletContext]="{ $implicit: 'File upload is required'}"
                    *ngIf="fileUploadControl.touched && fileUploadControl.errors?.['required']"
                ></ng-container>

                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg"
                    [ngTemplateOutletContext]="{ $implicit: 'File is bigger than 5MB' }"
                    *ngIf="fileUploadControl.touched && fileUploadControl.errors?.['maxsize']"
                ></ng-container>
                <!-- {{fileUploadControl.errors | json}} -->
            </section>

            <ng-container #passwordsGroup="ngModelGroup" ngModelGroup="passwords" passwordsMatch>
        
                <section class="form-row">
    
                <label 
                    class="form-input-label" 
                    for="password"
                >
                    Password
                </label>
    
                <input 
                    ngModel 
                    required 
                    minlength="6" 
                    pattern="[a-zA-Z0-9]+"
                    #passwordControl="ngModel" 
                    class="form-input" 
                    type="password" 
                    name="password" 
                    id="password" 
                    placeholder="Password" 
                    aria-required="true" 
                />
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Password is required' }"
                    *ngIf="passwordControl.touched && passwordControl.errors?.['required']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Password should be at least 6 characters long' }"
                    *ngIf="passwordControl.touched && passwordControl.errors?.['minlength']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Password should contain latin letters and digits only' }"
                    *ngIf="passwordControl.touched && passwordControl.errors?.['pattern']"
                ></ng-container>
    
                </section>
            
                <section class="form-row">
    
                <label 
                    class="form-input-label" 
                    for="confirm-password"
                >
                    Confirm password
                </label>
    
                <input 
                    ngModel 
                    required 
                    #confirmPasswordControl="ngModel" 
                    class="form-input" 
                    [class.ng-valid]="confirmPasswordControl.valid && !passwordsGroup?.errors?.['mismatch']" 
                    [class.ng-invalid]="confirmPasswordControl.touched && (confirmPasswordControl.invalid || passwordsGroup?.errors?.['mismatch'])"
                    type="password" 
                    name="repeatPassword" 
                    id="confirm-password" 
                    placeholder="Confirm password" 
                    aria-required="true" 
                />
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Confirm password is required' }"
                    *ngIf="confirmPasswordControl.touched && confirmPasswordControl.errors?.['required']"
                ></ng-container>
    
                <ng-container 
                    [ngTemplateOutlet]="formInputErrorMsg" 
                    [ngTemplateOutletContext]="{ $implicit: 'Passwords do not match' }"
                    *ngIf="confirmPasswordControl.touched && passwordsGroup.errors?.['mismatch']"
                ></ng-container>
    
                </section>

            </ng-container>
        
            <button 
                [disabled]="registerForm.invalid || localState.processing"
                class="form-submit-btn" 
                type="submit"
            >
                {{localState.processing ? 'Processing...' : 'Signup'}}
            </button>
    
        </form>
    
        <footer class="form-container-footer">
            <p class="form-container-footer-content">
                Already have an account? <a [routerLink]="[ '/users', 'login' ]">Sign in.</a>
            </p>
        </footer>
    
    </section>

</ng-template>

<ng-template #formInputErrorMsg let-errorTxt>
    <section class="form-input-error">
        {{errorTxt}}
    </section>
</ng-template>